language: python
python: "2.7"
install:
- virtualenv buildout --no-setuptools
- mkdir -p buildout-cache/downloads
- buildout/bin/python bootstrap.py -c travis.cfg
- bin/buildout -N -t 3 -c travis.cfg
script: bin/test
